---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Orgs that work!</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/articles/">Articles</a>
        <a href="/about/">About</a>
        <a href="/now/">Now</a>
        <a href="/contact/">Contact</a>

		<h1>Contact Me</h1>
        <p>
            Quentin Swillens
            <br />
            <a href="mailto:quentin@zannico.co">quentin@zannico.co</a>
        </p>


	</body>
</html>
