---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact Me";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Quentin Swillens
		<br />
		<a href="mailto:test@test.test">test@test.test</a>
	</p>
</BaseLayout>
