---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Now";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		<a href="https://nownownow.com/about">/now</a> inspired by Derek Sivers.
	</p>

	<p>I'm currently working on:</p>
</BaseLayout>
