---
const { platform, username } = Astro.props;
---

<style>
	a {
		padding: 0.5rem 1rem;
		color: darkgray;
		text-decoration: none;
	}
</style>

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
